Flask==3.0.3
Flask-Bootstrap==3.3.7.1
Flask-WTF==1.2.1
google-ai-generativelanguage==0.6.6
google-api-core==2.19.1
google-api-python-client==2.142.0
google-auth==2.34.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-generativeai==0.7.2
pdf2image==1.17.0
pdfminer.six==20231228
pdfplumber==0.11.4
pillow==10.4.0
PyPDF2==3.0.1
pytesseract==0.3.13
qrcode==7.4.2
requests==2.31.0
SQLAlchemy==2.0.35
Werkzeug==3.0.4
WTForms==3.1.2
